@charset "UTF-8";

/**
 * 이 컨텐츠는 무단 변경, 복제‧배포, 개작 등의 이용은 금지되며 비정상적으로 이용할 경우 저작권 침해로 민형사상 책임을 질 수 있음을 알려드립니다.
 */

/* TISTORY */
/* 전체 공통 */
#article-view {
  padding: 0px 0px 50px 0px;/*padding: 20px 20px 50px;*/
}

/* FOR ME, IT */
.body{max-width:400px;margin:auto;font-family:MaplestoryLight,roboto;}

.dt{display:table;width:100%;/* table-layout:fixed; */}
.dtr{display:table-row;}
.dtc{display:table-cell;vertical-align:middle;padding:0px 2px;}

.tar{text-align:right;}

label{cursor:pointer;}
label input[type='checkbox']{vertical-align:middle;}

.modes{width:100%;height:30px;margin-bottom:5px;}

.title{font-size:17px;font-weight:bold;}

.ingredient{white-space:nowrap;}
.numerical{width:150px;}
.numerical input[type='number']{width:100%;height:24px;box-sizing:border-box;text-align:right;}
.unit{text-align:left;width:33px;}

#recipe{border:1px solid #767676;margin:8px 0px;}
.recipe .dtr{height:30px;}
.recipe .dtr:first-child{background-color:#e2d9d3;text-align:center;font-weight:bold;}
.recipe .dtr:nth-child(even){background-color:#f5f2f0;}

.under{background-color:#ebe8e5;}
.weight, .weight input{font-weight:bold;}
.weight{height:30px;border-top:1px solid black;}
.weightComment{height:25px;font-size:13px;padding-bottom:5px;}
.btn{width:100px;text-align:center;}

#step{background-color:#e6e7e8;margin:8px 0px;}
#step > *{padding:10px 2px;}
.seq{width:100%;}
.seq .seqNo{width:15px;vertical-align:top;white-space:nowrap;}
.seq .dtr:not(:last-child) .dtc{padding-bottom:10px;}



@font-face {
    font-family: 'MaplestoryLight';
    src: url('../../font/MaplestoryLight.woff') format('woff');
    font-display: swap;
}
